
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageScripts
{
 @*   <script type="text/javascript" src="~/Scripts/knockout-3.4.0.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/UserScripts/users.js"></script>*@

    <script data-main="/Scripts/userscripts.init.js" src="~/Scripts/require.min.js"></script>
}

<h2>Test Users</h2>

<div id="loading" class="page-loader" style="display:none">
    <img id="loading-image" src="~/Content/images/ajax-loader.gif" alt="Loading">

</div>
<div id="user-table" style="display:none">
    <div style="margin-bottom:5px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newUserModal">
            Create new user
        </button>
    </div>
    <table class="table table-hover table-condensed">
        <tr data-bind="click: sortFunction">
            <th id="ID">ID</th>
            <th id="Name">Name</th>
            <th id="Email">Email</th>
            <th id="TodoEntries">Todo Entries</th>
            <th id="ID">Actions</th>
        </tr>

        <tbody data-bind="foreach:userList">
            <tr>
                <td data-bind="text: ID"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Email"></td>
                <td data-bind="text: 'Number of Todo Entries: '+TodoEntries().length"></td>
                <td>
                    <button data-bind="click: function(){$parent.selectUser(this)}" class="btn btn-primary">Show details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@Html.Partial("UserDetailsPartial")
@Html.Partial("CreateNewUserPartial")
@Html.Partial("CreateNewTodoPartial")


















